<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="GitRepository" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-DV33QFA\SQLENT2014;initial catalog=GitRepositoryDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <add name="Ef7" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Ef7;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AjaxControlToolkit" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=AjaxControlToolkit;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AspnetWebStack" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=AspnetWebStack;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AzureSdkForNet" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=AzureSdkForNet;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AzureWebJobsSdk" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=AzureWebJobsSdk;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Cake" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Cake;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Cecil" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Cecil;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CouchbaseLiteNet" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=CouchbaseLiteNet;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ForcecomToolkitForNET" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=ForcecomToolkitForNET;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HadoopSdk" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=HadoopSdk;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Home" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Home;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IdentityManager" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=IdentityManager;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="IdentityServer3" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=IdentityServer3;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Katana" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Katana;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Kudu" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Kudu;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Llilc" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Llilc;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MailKit" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=MailKit;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MimeKit" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=MimeKit;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Msbuild" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Msbuild;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NetmfInterpreter" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=NetmfInterpreter;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OpenXmlSdk" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=OpenXmlSdk;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Orchard" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Orchard;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Orleans" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Orleans;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Prism" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Prism;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Protobuild" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Protobuild;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Roslyn" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Roslyn;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SignalR" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=SignalR;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UmbracoCms" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=UmbracoCms;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Wcf" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Wcf;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XamarinAuth" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=XamarinAuth;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XamarinMobile" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=XamarinMobile;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="XUnit" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=XUnit;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="UWPCommunityToolkit" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=UWPCommunityToolkit;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RxNET" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=RxNET;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Polly" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Polly;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Nancy" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Nancy;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="mono" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=mono;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BenchmarkDotNet" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=BenchmarkDotNet;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Cli" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Cli;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoreClr" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=CoreClr;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CoreFx" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=CoreFx;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ILSpy" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=ILSpy;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NewtonsoftJson" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=NewtonsoftJson;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PowerShell" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=PowerShell;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NhibernateCore" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=NhibernateCore;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SpecFlow" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=SpecFlow;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Duality" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Duality;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoFixture" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=AutoFixture;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Hangfire" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Hangfire;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MoneyFox" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=MoneyFox;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AutoMapper" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=AutoMapper;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BridgeNET" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=BridgeNET;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DotNetOpenAuth" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=DotNetOpenAuth;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AkkaNET" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=AkkaNET;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Avalonia" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Avalonia;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MvvmCross" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=MvvmCross;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Choco" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Choco;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OpenRA" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=OpenRA;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Rebus" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Rebus;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Serilog" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Serilog;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SparkleShare" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=SparkleShare;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Pickles" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Pickles;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="QuickGraph" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=QuickGraph;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ImageProcessor" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=ImageProcessor;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Npgsql" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Npgsql;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NLog" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=NLog;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Wyam" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Wyam;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Marten" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Marten;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FakeItEasy" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=FakeItEasy;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Humanizer" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Humanizer;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FileHelpers" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=FileHelpers;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VsVim" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=VsVim;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Sonarr" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Sonarr;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OptiKey" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=OptiKey;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ServiceStack" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=ServiceStack;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HDT" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=HDT;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CefSharp" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=CefSharp;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BotBuilder" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=BotBuilder;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MahAppsMetro" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=MahAppsMetro;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ShareX" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=ShareX;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Dapper" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Dapper;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MonoGame" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=MonoGame;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Wox" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Wox;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WealthEconomy" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=WealthEconomy;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Rubberduck" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Rubberduck;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ElasticsearchNet" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=ElasticsearchNet;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CodeCracker" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=CodeCracker;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Albacore" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Albacore;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Dnn" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Dnn;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AllReady" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=AllReady;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Libgit2sharp" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Libgit2sharp;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Emby" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Emby;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PTVS" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=PTVS;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Nodejstools" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Nodejstools;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KestrelHttpServer" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=KestrelHttpServer;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Dafny" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Dafny;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Corert" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Corert;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AzurePowershell" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=AzurePowershell;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Sdk" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Sdk;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Buildtools" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Buildtools;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Docfx" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Docfx;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VsMef" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=VsMef;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RTVS" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=RTVS;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="VstsAgent" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=VstsAgent;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NuGetGallery" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=NuGetGallery;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ApplicationInsightsDotnetServer" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=ApplicationInsightsDotnetServer;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MobileCenterSdkDotnet" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=MobileCenterSdkDotnet;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NuGetClient" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=NuGetClient;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BusinessPlatformApps" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=BusinessPlatformApps;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Templating" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=Templating;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PnPPowerShell" connectionString="metadata=res://*/GitRepository.csdl|res://*/GitRepository.ssdl|res://*/GitRepository.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.17.69.78;initial catalog=PnPPowerShell;Integrated Security=False;User ID=sa;Password=damasorp;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.1.0" newVersion="1.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.FileSystem.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.FileVersionInfo" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
